on:
  workflow_call:

jobs:
  distgen-check:
    name: "Check distgen generated files"
    runs-on: ubuntu-latest
    if: |
      github.event.issue.pull_request
      && (contains(github.event.comment.body, '[test]')
      || contains(github.event.comment.body, '[test-pytest]')
      || contains(github.event.comment.body, '[test-openshift]')
      || contains(github.event.comment.body, '[test-openshift-pytest]')
      || contains(github.event.comment.body, '[test-upstream]')
      || contains(github.event.comment.body, '[test-all]')
      )
      && contains(fromJSON('["OWNER", "MEMBER"]'), github.event.comment.author_association)
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          ref: "refs/pull/${{ github.event.issue.number }}/head"
          submodules: true

      - name: Check distgen generated files
        id: check
        shell: bash
        run: |
          sha=$(git rev-parse HEAD)
          sudo apt update && sudo apt -y install python3-pip
          pip3 install distgen
          result="success"
          ./common/tests/check_distgen_generated_files.sh || result="failure"
          echo "result=$result" >> "$GITHUB_OUTPUT"
          echo "sha=$sha" >> "$GITHUB_OUTPUT"

      - name: Set final commit status
        uses: myrotvorets/set-commit-status-action@v2.0.0
        with:
          status: ${{ steps.check.outputs.result }}
          context: "Distgen check"
          sha: ${{ steps.check.outputs.sha }}

      - name: Exit on ERR
        shell: bash
        run: |
          _result=${{ steps.check.outputs.result }}
          if [ "$_result" == failure ]; then
            echo "::error::Distgen-generated files are not regenerated properly."
            echo "::warning::Please regenerate them with:"
            echo "::warning::'make clean-versions'"
            echo "::warning::'make generate-all'"
            exit 1
          fi
